
.wrapper {
    width: 100%;
}

.img-show-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.img-show-item {
    flex: 0 1 23%; /* 每个子元素的基础大小是23%，留出一些间距 */
    margin: 1%; /* 给每个子元素一些间距 */
    box-sizing: border-box; /* 包含内边距和边框在总宽度内 */
    word-break: break-all;

    position: relative;
}

.img-show-item img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.img-show-btn-group {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 7px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: end;
}


.flex-grow {
    flex-grow: 1;
}